<ion-list>
  <ion-item *ngFor="let a of anuncios">
    <ion-img [src]="'data:image/jpeg;base64,'+ a.fotografia" width="10" height="20" />
    <ion-label>
      {{a.titulo}}
    </ion-label>
    <br />
    <ion-label>
      {{fecha | date:'yyyy-MM-dd':'es-CL'}}
    </ion-label>
    <span #spanId style="display:none;"></span>
    <ion-button (click)="setModalPriceOpen(true)" slot="end" fill="clear">
      <ion-icon name="trash-outline" slot="end" color="blue"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
<ion-modal [isOpen]="isModalPriceOpen">
  <ng-template>
    <ion-title>
      Precio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setModalPriceOpen(false)">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-header>
      <ion-content>
        Desea eliminar este elemento?
      </ion-content>
    </ion-header>
  </ng-template>
</ion-modal>